<a href="https://colab.research.google.com/github/HarlMelendez/58013-Linear-Algebra/blob/main/Phyton_Exercise_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Vector Addition

In [2]:
import numpy as np

A = np.array([1,2,0])
B = np.array([3,1,-2])
C = np.array([0,0,1])

A+B+C

np.add(A,np.add(B,C))

np.sum(B)

2

Vector Subtraction

In [22]:
import numpy as np

A = np.array([1,2,0])
B = np.array([3,1,-2])
C = np.array([0,0,1])

A-B

np.subtract(A,np.multiply(B,C))

np.diff(B)

array([-2, -3])

Vector Multiplication

In [19]:
import numpy as np

A = np.array([1,2,0])
B = np.array([3,1,-2])
C = np.array([0,0,1])

A*B

np.multiply(A,np.multiply(B,C))

np.product(B)

-6

In [ ]:
Vector Division

In [23]:
np.divide(A,B)

A/B

C = np.array([3.9,1.8,7.7])
D = np.array([1,1,1])
C//D

np.array(A/B,dtype=int)

array([0, 2, 0])