<a href="https://colab.research.google.com/github/HarlMelendez/58013-Linear-Algebra/blob/main/Review_of_Phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#PhythonIndentation
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
#This is a comment
print("Hello, World")

Hello, World

In [ ]:
#Phyton Variable
x = 1
a, b = 0, -1
a, b, c = 0,-1, 2

In [ ]:
#casting
b = "Sally" #This is a type of string
b = int(4)
print(b)

b + float(4)
print(b)

4
4

In [ ]:
#Type() Function
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
#"Double" or 'single qoutes'
y = "john"
y = 'john'

In [ ]:
#Case Sensitive
a = 4
A = "Sally"
#A will not overwrite a

In [ ]:
#Multiple Variables
x, y, z = "One", "Two", "Three"
print(x)
print(y)
print(z)

One
Two
Three

In [ ]:
#One Value To Multiple Variable
x = y = z = "Four"
print(x)
print(y)
print(z)

Four
Four
Four

In [ ]:
#Output Variables
x = "enjoying"
print("Phyton program is " + x)

Phyton program is enjoying

In [ ]:
#Other way of output variable
x = "Phyton is "
y = "enjoying"
z = x + y
print (z)

Phyton is enjoying

In [ ]:
#Arithmetic Operations
x = 5
y = 3
print (x + y)

x = 5
y = 3
sum = x + y
sum

8

8

In [ ]:
#Assignment Operators
a, b, c = 0, -1, 6
c %= 3
c

0

In [ ]:
#Comparison Operators
a, b, c = 0, -1, 6
a>b and c>=b

True